--
-- PostgreSQL database dump
--

\restrict GajW9cZ1Cl76JCIZ7oOLCZtKn488122as2wRRT9f29ka6JHIGij6G7M4SHh9QFK

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Ad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Ad" (
    id text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    headline text,
    impressions integer DEFAULT 0 NOT NULL,
    clicks integer DEFAULT 0 NOT NULL,
    spend double precision DEFAULT 0.0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    ad_name text NOT NULL,
    ad_type text NOT NULL,
    campaign_id text NOT NULL,
    cta_type text,
    destination_url text,
    media_url text,
    primary_text text NOT NULL,
    thumbnail_url text
);


ALTER TABLE public."Ad" OWNER TO postgres;

--
-- Name: AdAccount; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AdAccount" (
    id text NOT NULL,
    "businessId" text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    balance double precision DEFAULT 0.0 NOT NULL,
    "paymentMethod" text,
    "paymentDetails" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AdAccount" OWNER TO postgres;

--
-- Name: ApiKey; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ApiKey" (
    id text NOT NULL,
    name text NOT NULL,
    "keyHash" text NOT NULL,
    "keyPrefix" text NOT NULL,
    environment text DEFAULT 'dev'::text NOT NULL,
    scopes text[],
    "rateLimit" integer DEFAULT 100 NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    "lastUsedAt" timestamp(3) without time zone,
    "expiresAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ApiKey" OWNER TO postgres;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "adminId" text NOT NULL,
    action text NOT NULL,
    "targetType" text,
    "targetId" text,
    details text,
    "ipAddress" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO postgres;

--
-- Name: BroadcastNotification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BroadcastNotification" (
    id text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    "targetType" text DEFAULT 'all'::text NOT NULL,
    "authorId" text NOT NULL,
    status text DEFAULT 'sent'::text NOT NULL,
    metrics text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."BroadcastNotification" OWNER TO postgres;

--
-- Name: BusinessMember; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BusinessMember" (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "userId" text NOT NULL,
    role text DEFAULT 'member'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."BusinessMember" OWNER TO postgres;

--
-- Name: BusinessProfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BusinessProfile" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "companyName" text NOT NULL,
    industry text,
    location text,
    website text,
    "isVerified" boolean DEFAULT false NOT NULL,
    "verificationDoc" text,
    status text DEFAULT 'pending'::text NOT NULL,
    "totalSpent" text DEFAULT '0'::text NOT NULL,
    "totalImpressions" text DEFAULT '0'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."BusinessProfile" OWNER TO postgres;

--
-- Name: Campaign; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Campaign" (
    id text NOT NULL,
    "adAccountId" text NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    "dailyBudget" double precision NOT NULL,
    "totalBudget" double precision,
    "startTime" timestamp(3) without time zone NOT NULL,
    "endTime" timestamp(3) without time zone,
    targeting text,
    impressions integer DEFAULT 0 NOT NULL,
    clicks integer DEFAULT 0 NOT NULL,
    spend double precision DEFAULT 0.0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Campaign" OWNER TO postgres;

--
-- Name: Community; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Community" (
    id text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    avatar text,
    banner text,
    "membersCount" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Community" OWNER TO postgres;

--
-- Name: CommunityMember; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CommunityMember" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "communityId" text NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CommunityMember" OWNER TO postgres;

--
-- Name: CommunityModerator; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CommunityModerator" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "communityId" text NOT NULL
);


ALTER TABLE public."CommunityModerator" OWNER TO postgres;

--
-- Name: CommunityPost; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CommunityPost" (
    id text NOT NULL,
    "communityId" text NOT NULL,
    "postId" text NOT NULL
);


ALTER TABLE public."CommunityPost" OWNER TO postgres;

--
-- Name: Conversation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Conversation" (
    id text NOT NULL,
    type text DEFAULT 'direct'::text NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastMessageAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lastMessageId" text
);


ALTER TABLE public."Conversation" OWNER TO postgres;

--
-- Name: Follow; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Follow" (
    id text NOT NULL,
    "followerId" text NOT NULL,
    "followingId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Follow" OWNER TO postgres;

--
-- Name: Like; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Like" (
    id text NOT NULL,
    "postId" text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Like" OWNER TO postgres;

--
-- Name: List; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."List" (
    id text NOT NULL,
    "ownerId" text NOT NULL,
    name text NOT NULL,
    description text,
    "isPrivate" boolean DEFAULT false NOT NULL,
    banner text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."List" OWNER TO postgres;

--
-- Name: ListFollower; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ListFollower" (
    id text NOT NULL,
    "listId" text NOT NULL,
    "userId" text NOT NULL,
    "followedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ListFollower" OWNER TO postgres;

--
-- Name: ListMember; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ListMember" (
    id text NOT NULL,
    "listId" text NOT NULL,
    "userId" text NOT NULL,
    "addedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ListMember" OWNER TO postgres;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    "conversationId" text NOT NULL,
    "senderId" text NOT NULL,
    content text,
    type text DEFAULT 'text'::text NOT NULL,
    "mediaUrl" text,
    "thumbnailUrl" text,
    duration integer,
    size integer,
    "mimeType" text,
    status text DEFAULT 'sent'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Message" OWNER TO postgres;

--
-- Name: MonetizationProfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MonetizationProfile" (
    id text NOT NULL,
    "userId" text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    balance double precision DEFAULT 0.0 NOT NULL,
    "lifetimeEarnings" double precision DEFAULT 0.0 NOT NULL,
    "payoutMethod" text,
    "payoutDetails" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."MonetizationProfile" OWNER TO postgres;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    "actorId" text NOT NULL,
    "postId" text,
    read boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: Participant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Participant" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "conversationId" text NOT NULL,
    "lastReadAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Participant" OWNER TO postgres;

--
-- Name: Post; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Post" (
    id text NOT NULL,
    "userId" text NOT NULL,
    content text NOT NULL,
    "mediaUrls" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "replyToId" text
);


ALTER TABLE public."Post" OWNER TO postgres;

--
-- Name: PostMedia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PostMedia" (
    id text NOT NULL,
    "postId" text NOT NULL,
    "mediaType" text NOT NULL,
    "mediaUrl" text NOT NULL,
    "thumbnailUrl" text,
    width integer NOT NULL,
    height integer NOT NULL,
    duration double precision,
    size integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PostMedia" OWNER TO postgres;

--
-- Name: Profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Profile" (
    id text NOT NULL,
    "userId" text NOT NULL,
    name text NOT NULL,
    handle text NOT NULL,
    bio text,
    avatar text,
    banner text,
    location text,
    website text,
    birthdate timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Profile" OWNER TO postgres;

--
-- Name: PushConfig; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PushConfig" (
    id text NOT NULL,
    provider text NOT NULL,
    credentials text NOT NULL,
    enabled boolean DEFAULT true NOT NULL,
    "allowedTypes" text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PushConfig" OWNER TO postgres;

--
-- Name: PushTemplate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PushTemplate" (
    id text NOT NULL,
    name text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    category text DEFAULT 'system'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PushTemplate" OWNER TO postgres;

--
-- Name: RefreshToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RefreshToken" (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RefreshToken" OWNER TO postgres;

--
-- Name: Report; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Report" (
    id text NOT NULL,
    type text DEFAULT 'report'::text NOT NULL,
    "targetId" text NOT NULL,
    "targetType" text NOT NULL,
    "reporterId" text NOT NULL,
    reason text,
    status text DEFAULT 'pending'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Report" OWNER TO postgres;

--
-- Name: Retweet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Retweet" (
    id text NOT NULL,
    "postId" text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Retweet" OWNER TO postgres;

--
-- Name: Space; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Space" (
    id text NOT NULL,
    title text NOT NULL,
    "hostId" text NOT NULL,
    topics text[],
    privacy text DEFAULT 'public'::text NOT NULL,
    status text DEFAULT 'live'::text NOT NULL,
    "isLive" boolean DEFAULT false NOT NULL,
    "time" text,
    "scheduledAt" timestamp(3) without time zone,
    "startedAt" timestamp(3) without time zone,
    "endedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Space" OWNER TO postgres;

--
-- Name: Subscription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Subscription" (
    id text NOT NULL,
    "tierId" text NOT NULL,
    "subscriberId" text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    "currentPeriodStart" timestamp(3) without time zone NOT NULL,
    "currentPeriodEnd" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Subscription" OWNER TO postgres;

--
-- Name: SubscriptionTier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SubscriptionTier" (
    id text NOT NULL,
    "monetizationProfileId" text NOT NULL,
    name text NOT NULL,
    description text,
    price double precision NOT NULL,
    perks text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SubscriptionTier" OWNER TO postgres;

--
-- Name: Transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Transaction" (
    id text NOT NULL,
    "monetizationProfileId" text,
    "subscriptionId" text,
    type text NOT NULL,
    amount double precision NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    status text DEFAULT 'completed'::text NOT NULL,
    "processorId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Transaction" OWNER TO postgres;

--
-- Name: Trend; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Trend" (
    id text NOT NULL,
    category text NOT NULL,
    topic text NOT NULL,
    posts integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Trend" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    role text DEFAULT 'USER'::text NOT NULL,
    status text DEFAULT 'ACTIVE'::text NOT NULL,
    "lastActiveAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "preferredLanguage" text DEFAULT 'en'::text NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: VerificationRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."VerificationRequest" (
    id text NOT NULL,
    "userId" text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VerificationRequest" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Ad; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: AdAccount; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ApiKey; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ApiKey" (id, name, "keyHash", "keyPrefix", environment, scopes, "rateLimit", status, "lastUsedAt", "expiresAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AuditLog" (id, "adminId", action, "targetType", "targetId", details, "ipAddress", "createdAt") FROM stdin;
\.


--
-- Data for Name: BroadcastNotification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BroadcastNotification" (id, title, message, "targetType", "authorId", status, metrics, "createdAt") FROM stdin;
\.


--
-- Data for Name: BusinessMember; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BusinessMember" (id, "businessId", "userId", role, "createdAt", "updatedAt") FROM stdin;
1cfbb752-658a-49e6-9c7e-e429dde9db32	039229da-2e8c-4b32-877c-d202881e49a4	2def704a-bb45-4236-8081-127083acc86b	member	2026-02-13 08:11:27.134	2026-02-13 08:11:27.134
6c053e14-893f-4fe0-824f-686d461335da	d8c376ac-5fd5-4277-b049-fb833cd2322c	03eae847-3a7c-46c9-a4a1-1fddb44a657b	member	2026-02-13 10:05:09.737	2026-02-13 10:05:09.737
\.


--
-- Data for Name: BusinessProfile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Campaign; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Community; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Community" (id, name, description, avatar, banner, "membersCount", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CommunityMember; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CommunityMember" (id, "userId", "communityId", "joinedAt") FROM stdin;
\.


--
-- Data for Name: CommunityModerator; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CommunityModerator" (id, "userId", "communityId") FROM stdin;
\.


--
-- Data for Name: CommunityPost; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CommunityPost" (id, "communityId", "postId") FROM stdin;
\.


--
-- Data for Name: Conversation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Conversation" (id, type, "updatedAt", "lastMessageAt", "lastMessageId") FROM stdin;
\.


--
-- Data for Name: Follow; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Follow" (id, "followerId", "followingId", "createdAt") FROM stdin;
f77e71c6-8af0-4012-834c-2b181af55d8a	2def704a-bb45-4236-8081-127083acc86b	89eaec47-3a52-4f04-8885-f2b0f2f7aac1	2026-02-13 08:12:55.105
\.


--
-- Data for Name: Like; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Like" (id, "postId", "userId", "createdAt") FROM stdin;
\.


--
-- Data for Name: List; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."List" (id, "ownerId", name, description, "isPrivate", banner, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ListFollower; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ListFollower" (id, "listId", "userId", "followedAt") FROM stdin;
\.


--
-- Data for Name: ListMember; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ListMember" (id, "listId", "userId", "addedAt") FROM stdin;
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Message" (id, "conversationId", "senderId", content, type, "mediaUrl", "thumbnailUrl", duration, size, "mimeType", status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: MonetizationProfile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MonetizationProfile" (id, "userId", status, balance, "lifetimeEarnings", "payoutMethod", "payoutDetails", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Notification" (id, "userId", type, "actorId", "postId", read, "createdAt") FROM stdin;
63c883ee-ae6f-42b6-bbc9-6021ad499a66	89eaec47-3a52-4f04-8885-f2b0f2f7aac1	follow	2def704a-bb45-4236-8081-127083acc86b	\N	f	2026-02-13 08:12:55.125
\.


--
-- Data for Name: Participant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Participant" (id, "userId", "conversationId", "lastReadAt") FROM stdin;
\.


--
-- Data for Name: Post; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PostMedia; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Profile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PushConfig; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PushConfig" (id, provider, credentials, enabled, "allowedTypes", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PushTemplate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PushTemplate" (id, name, title, body, category, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: RefreshToken; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Report; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Report" (id, type, "targetId", "targetType", "reporterId", reason, status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Retweet; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Retweet" (id, "postId", "userId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Space; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Space" (id, title, "hostId", topics, privacy, status, "isLive", "time", "scheduledAt", "startedAt", "endedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Subscription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Subscription" (id, "tierId", "subscriberId", status, "currentPeriodStart", "currentPeriodEnd", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: SubscriptionTier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SubscriptionTier" (id, "monetizationProfileId", name, description, price, perks, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Transaction" (id, "monetizationProfileId", "subscriptionId", type, amount, currency, status, "processorId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Trend; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: VerificationRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."VerificationRequest" (id, "userId", status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
13b8eed5-d3a6-4ded-bf4c-64c69ba7189b	7b878ab3345a5ec4ab4354a5744dae88f4b3b4559d3472b6e131c4efea4b85f0	2026-02-13 13:01:32.546353+05:30	20260213073132_add_payout_fields	\N	\N	2026-02-13 13:01:32.161115+05:30	1
\.


--
-- Name: AdAccount AdAccount_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AdAccount"
    ADD CONSTRAINT "AdAccount_pkey" PRIMARY KEY (id);


--
-- Name: Ad Ad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ad"
    ADD CONSTRAINT "Ad_pkey" PRIMARY KEY (id);


--
-- Name: ApiKey ApiKey_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ApiKey"
    ADD CONSTRAINT "ApiKey_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: BroadcastNotification BroadcastNotification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BroadcastNotification"
    ADD CONSTRAINT "BroadcastNotification_pkey" PRIMARY KEY (id);


--
-- Name: BusinessMember BusinessMember_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BusinessMember"
    ADD CONSTRAINT "BusinessMember_pkey" PRIMARY KEY (id);


--
-- Name: BusinessProfile BusinessProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BusinessProfile"
    ADD CONSTRAINT "BusinessProfile_pkey" PRIMARY KEY (id);


--
-- Name: Campaign Campaign_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Campaign"
    ADD CONSTRAINT "Campaign_pkey" PRIMARY KEY (id);


--
-- Name: CommunityMember CommunityMember_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CommunityMember"
    ADD CONSTRAINT "CommunityMember_pkey" PRIMARY KEY (id);


--
-- Name: CommunityModerator CommunityModerator_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CommunityModerator"
    ADD CONSTRAINT "CommunityModerator_pkey" PRIMARY KEY (id);


--
-- Name: CommunityPost CommunityPost_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CommunityPost"
    ADD CONSTRAINT "CommunityPost_pkey" PRIMARY KEY (id);


--
-- Name: Community Community_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Community"
    ADD CONSTRAINT "Community_pkey" PRIMARY KEY (id);


--
-- Name: Conversation Conversation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_pkey" PRIMARY KEY (id);


--
-- Name: Follow Follow_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Follow"
    ADD CONSTRAINT "Follow_pkey" PRIMARY KEY (id);


--
-- Name: Like Like_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Like"
    ADD CONSTRAINT "Like_pkey" PRIMARY KEY (id);


--
-- Name: ListFollower ListFollower_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ListFollower"
    ADD CONSTRAINT "ListFollower_pkey" PRIMARY KEY (id);


--
-- Name: ListMember ListMember_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ListMember"
    ADD CONSTRAINT "ListMember_pkey" PRIMARY KEY (id);


--
-- Name: List List_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."List"
    ADD CONSTRAINT "List_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: MonetizationProfile MonetizationProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MonetizationProfile"
    ADD CONSTRAINT "MonetizationProfile_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Participant Participant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_pkey" PRIMARY KEY (id);


--
-- Name: PostMedia PostMedia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PostMedia"
    ADD CONSTRAINT "PostMedia_pkey" PRIMARY KEY (id);


--
-- Name: Post Post_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_pkey" PRIMARY KEY (id);


--
-- Name: Profile Profile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Profile"
    ADD CONSTRAINT "Profile_pkey" PRIMARY KEY (id);


--
-- Name: PushConfig PushConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PushConfig"
    ADD CONSTRAINT "PushConfig_pkey" PRIMARY KEY (id);


--
-- Name: PushTemplate PushTemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PushTemplate"
    ADD CONSTRAINT "PushTemplate_pkey" PRIMARY KEY (id);


--
-- Name: RefreshToken RefreshToken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_pkey" PRIMARY KEY (id);


--
-- Name: Report Report_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_pkey" PRIMARY KEY (id);


--
-- Name: Retweet Retweet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Retweet"
    ADD CONSTRAINT "Retweet_pkey" PRIMARY KEY (id);


--
-- Name: Space Space_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Space"
    ADD CONSTRAINT "Space_pkey" PRIMARY KEY (id);


--
-- Name: SubscriptionTier SubscriptionTier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SubscriptionTier"
    ADD CONSTRAINT "SubscriptionTier_pkey" PRIMARY KEY (id);


--
-- Name: Subscription Subscription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_pkey" PRIMARY KEY (id);


--
-- Name: Transaction Transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_pkey" PRIMARY KEY (id);


--
-- Name: Trend Trend_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Trend"
    ADD CONSTRAINT "Trend_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: VerificationRequest VerificationRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."VerificationRequest"
    ADD CONSTRAINT "VerificationRequest_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ApiKey_keyHash_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ApiKey_keyHash_idx" ON public."ApiKey" USING btree ("keyHash");


--
-- Name: ApiKey_keyHash_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ApiKey_keyHash_key" ON public."ApiKey" USING btree ("keyHash");


--
-- Name: AuditLog_adminId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_adminId_idx" ON public."AuditLog" USING btree ("adminId");


--
-- Name: AuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_createdAt_idx" ON public."AuditLog" USING btree ("createdAt");


--
-- Name: BusinessMember_businessId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "BusinessMember_businessId_userId_key" ON public."BusinessMember" USING btree ("businessId", "userId");


--
-- Name: BusinessProfile_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "BusinessProfile_userId_key" ON public."BusinessProfile" USING btree ("userId");


--
-- Name: CommunityMember_communityId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CommunityMember_communityId_idx" ON public."CommunityMember" USING btree ("communityId");


--
-- Name: CommunityMember_userId_communityId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CommunityMember_userId_communityId_key" ON public."CommunityMember" USING btree ("userId", "communityId");


--
-- Name: CommunityMember_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CommunityMember_userId_idx" ON public."CommunityMember" USING btree ("userId");


--
-- Name: CommunityModerator_communityId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CommunityModerator_communityId_idx" ON public."CommunityModerator" USING btree ("communityId");


--
-- Name: CommunityModerator_userId_communityId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CommunityModerator_userId_communityId_key" ON public."CommunityModerator" USING btree ("userId", "communityId");


--
-- Name: CommunityModerator_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CommunityModerator_userId_idx" ON public."CommunityModerator" USING btree ("userId");


--
-- Name: CommunityPost_communityId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CommunityPost_communityId_idx" ON public."CommunityPost" USING btree ("communityId");


--
-- Name: CommunityPost_communityId_postId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CommunityPost_communityId_postId_key" ON public."CommunityPost" USING btree ("communityId", "postId");


--
-- Name: Community_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Community_createdAt_idx" ON public."Community" USING btree ("createdAt");


--
-- Name: Conversation_lastMessageId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Conversation_lastMessageId_key" ON public."Conversation" USING btree ("lastMessageId");


--
-- Name: Follow_followerId_followingId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Follow_followerId_followingId_key" ON public."Follow" USING btree ("followerId", "followingId");


--
-- Name: Like_postId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Like_postId_idx" ON public."Like" USING btree ("postId");


--
-- Name: Like_postId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Like_postId_userId_key" ON public."Like" USING btree ("postId", "userId");


--
-- Name: Like_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Like_userId_idx" ON public."Like" USING btree ("userId");


--
-- Name: ListFollower_listId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ListFollower_listId_idx" ON public."ListFollower" USING btree ("listId");


--
-- Name: ListFollower_listId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ListFollower_listId_userId_key" ON public."ListFollower" USING btree ("listId", "userId");


--
-- Name: ListFollower_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ListFollower_userId_idx" ON public."ListFollower" USING btree ("userId");


--
-- Name: ListMember_listId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ListMember_listId_idx" ON public."ListMember" USING btree ("listId");


--
-- Name: ListMember_listId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ListMember_listId_userId_key" ON public."ListMember" USING btree ("listId", "userId");


--
-- Name: ListMember_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ListMember_userId_idx" ON public."ListMember" USING btree ("userId");


--
-- Name: List_ownerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "List_ownerId_idx" ON public."List" USING btree ("ownerId");


--
-- Name: Message_conversationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_conversationId_idx" ON public."Message" USING btree ("conversationId");


--
-- Name: Message_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_createdAt_idx" ON public."Message" USING btree ("createdAt");


--
-- Name: Message_senderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_senderId_idx" ON public."Message" USING btree ("senderId");


--
-- Name: MonetizationProfile_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "MonetizationProfile_userId_key" ON public."MonetizationProfile" USING btree ("userId");


--
-- Name: Notification_actorId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_actorId_idx" ON public."Notification" USING btree ("actorId");


--
-- Name: Notification_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_createdAt_idx" ON public."Notification" USING btree ("createdAt");


--
-- Name: Notification_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_userId_idx" ON public."Notification" USING btree ("userId");


--
-- Name: Participant_userId_conversationId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Participant_userId_conversationId_key" ON public."Participant" USING btree ("userId", "conversationId");


--
-- Name: Participant_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Participant_userId_idx" ON public."Participant" USING btree ("userId");


--
-- Name: PostMedia_postId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PostMedia_postId_idx" ON public."PostMedia" USING btree ("postId");


--
-- Name: Post_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Post_createdAt_idx" ON public."Post" USING btree ("createdAt");


--
-- Name: Post_replyToId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Post_replyToId_idx" ON public."Post" USING btree ("replyToId");


--
-- Name: Post_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Post_userId_idx" ON public."Post" USING btree ("userId");


--
-- Name: Profile_handle_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Profile_handle_idx" ON public."Profile" USING btree (handle);


--
-- Name: Profile_handle_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Profile_handle_key" ON public."Profile" USING btree (handle);


--
-- Name: Profile_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Profile_userId_key" ON public."Profile" USING btree ("userId");


--
-- Name: PushTemplate_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PushTemplate_name_key" ON public."PushTemplate" USING btree (name);


--
-- Name: RefreshToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RefreshToken_token_key" ON public."RefreshToken" USING btree (token);


--
-- Name: RefreshToken_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RefreshToken_userId_idx" ON public."RefreshToken" USING btree ("userId");


--
-- Name: Report_reporterId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Report_reporterId_idx" ON public."Report" USING btree ("reporterId");


--
-- Name: Report_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Report_status_idx" ON public."Report" USING btree (status);


--
-- Name: Report_targetId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Report_targetId_idx" ON public."Report" USING btree ("targetId");


--
-- Name: Retweet_postId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Retweet_postId_idx" ON public."Retweet" USING btree ("postId");


--
-- Name: Retweet_postId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Retweet_postId_userId_key" ON public."Retweet" USING btree ("postId", "userId");


--
-- Name: Retweet_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Retweet_userId_idx" ON public."Retweet" USING btree ("userId");


--
-- Name: Space_hostId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Space_hostId_idx" ON public."Space" USING btree ("hostId");


--
-- Name: Space_isLive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Space_isLive_idx" ON public."Space" USING btree ("isLive");


--
-- Name: Space_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Space_status_idx" ON public."Space" USING btree (status);


--
-- Name: Trend_category_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Trend_category_idx" ON public."Trend" USING btree (category);


--
-- Name: Trend_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Trend_createdAt_idx" ON public."Trend" USING btree ("createdAt");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: VerificationRequest_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "VerificationRequest_status_idx" ON public."VerificationRequest" USING btree (status);


--
-- Name: AdAccount AdAccount_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AdAccount"
    ADD CONSTRAINT "AdAccount_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public."BusinessProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Ad Ad_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ad"
    ADD CONSTRAINT "Ad_campaign_id_fkey" FOREIGN KEY (campaign_id) REFERENCES public."Campaign"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BusinessMember BusinessMember_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BusinessMember"
    ADD CONSTRAINT "BusinessMember_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public."BusinessProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BusinessMember BusinessMember_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BusinessMember"
    ADD CONSTRAINT "BusinessMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BusinessProfile BusinessProfile_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BusinessProfile"
    ADD CONSTRAINT "BusinessProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Campaign Campaign_adAccountId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Campaign"
    ADD CONSTRAINT "Campaign_adAccountId_fkey" FOREIGN KEY ("adAccountId") REFERENCES public."AdAccount"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CommunityMember CommunityMember_communityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CommunityMember"
    ADD CONSTRAINT "CommunityMember_communityId_fkey" FOREIGN KEY ("communityId") REFERENCES public."Community"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CommunityMember CommunityMember_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CommunityMember"
    ADD CONSTRAINT "CommunityMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CommunityModerator CommunityModerator_communityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CommunityModerator"
    ADD CONSTRAINT "CommunityModerator_communityId_fkey" FOREIGN KEY ("communityId") REFERENCES public."Community"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CommunityModerator CommunityModerator_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CommunityModerator"
    ADD CONSTRAINT "CommunityModerator_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CommunityPost CommunityPost_communityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CommunityPost"
    ADD CONSTRAINT "CommunityPost_communityId_fkey" FOREIGN KEY ("communityId") REFERENCES public."Community"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CommunityPost CommunityPost_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CommunityPost"
    ADD CONSTRAINT "CommunityPost_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Conversation Conversation_lastMessageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_lastMessageId_fkey" FOREIGN KEY ("lastMessageId") REFERENCES public."Message"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Follow Follow_followerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Follow"
    ADD CONSTRAINT "Follow_followerId_fkey" FOREIGN KEY ("followerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Follow Follow_followingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Follow"
    ADD CONSTRAINT "Follow_followingId_fkey" FOREIGN KEY ("followingId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Like Like_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Like"
    ADD CONSTRAINT "Like_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Like Like_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Like"
    ADD CONSTRAINT "Like_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ListFollower ListFollower_listId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ListFollower"
    ADD CONSTRAINT "ListFollower_listId_fkey" FOREIGN KEY ("listId") REFERENCES public."List"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ListFollower ListFollower_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ListFollower"
    ADD CONSTRAINT "ListFollower_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ListMember ListMember_listId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ListMember"
    ADD CONSTRAINT "ListMember_listId_fkey" FOREIGN KEY ("listId") REFERENCES public."List"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ListMember ListMember_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ListMember"
    ADD CONSTRAINT "ListMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: List List_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."List"
    ADD CONSTRAINT "List_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public."Conversation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MonetizationProfile MonetizationProfile_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MonetizationProfile"
    ADD CONSTRAINT "MonetizationProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_actorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Participant Participant_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public."Conversation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Participant Participant_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PostMedia PostMedia_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PostMedia"
    ADD CONSTRAINT "PostMedia_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Post Post_replyToId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_replyToId_fkey" FOREIGN KEY ("replyToId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Post Post_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Profile Profile_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Profile"
    ADD CONSTRAINT "Profile_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RefreshToken RefreshToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Report Report_reporterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Retweet Retweet_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Retweet"
    ADD CONSTRAINT "Retweet_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Retweet Retweet_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Retweet"
    ADD CONSTRAINT "Retweet_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Space Space_hostId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Space"
    ADD CONSTRAINT "Space_hostId_fkey" FOREIGN KEY ("hostId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SubscriptionTier SubscriptionTier_monetizationProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SubscriptionTier"
    ADD CONSTRAINT "SubscriptionTier_monetizationProfileId_fkey" FOREIGN KEY ("monetizationProfileId") REFERENCES public."MonetizationProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Subscription Subscription_subscriberId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_subscriberId_fkey" FOREIGN KEY ("subscriberId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Subscription Subscription_tierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_tierId_fkey" FOREIGN KEY ("tierId") REFERENCES public."SubscriptionTier"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Transaction Transaction_monetizationProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_monetizationProfileId_fkey" FOREIGN KEY ("monetizationProfileId") REFERENCES public."MonetizationProfile"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Transaction Transaction_subscriptionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_subscriptionId_fkey" FOREIGN KEY ("subscriptionId") REFERENCES public."Subscription"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: VerificationRequest VerificationRequest_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."VerificationRequest"
    ADD CONSTRAINT "VerificationRequest_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict GajW9cZ1Cl76JCIZ7oOLCZtKn488122as2wRRT9f29ka6JHIGij6G7M4SHh9QFK

